<template>
  <v-flex xs12 md3>
    <v-card class="ma-1">
      <v-card-title :class="getBaseColor.CardTitle" style="position:relative;">
        <div class="title white--text">
          <v-icon class="white--text">{{ icon }}</v-icon> <slot name="title"></slot>
        </div>

        <router-link :to="{name: ListName}" class="move_list mr-2">
          <v-icon class="white--text">add</v-icon>
        </router-link>
      </v-card-title>

      <v-list v-if="list">
        <v-list-tile v-for="(item) in list"
                     :key="item.code" @click.stop="moveDetail(item.idx)"
                     avatar >
          <v-list-tile-content class="notice__list__title__area">
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-content class="notice__list__title__date">
            <v-list-tile-sub-title>{{ item.createdDate | moment('YYYY-MM-DD') }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-card-text v-else-if="!list" style="height:296px">
        <v-container fluid fill-height>
          <v-layout align-center row wrap justify-center>
            <v-flex text-xs-center xs12 md9>
              <h3 class="title mb-2">{{ File.title }}</h3>
              <p>
                <a :href="File.url" @click="Down" download><v-icon style="font-size:80px;">archive</v-icon></a>
              </p>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Dash-Board-Content',

  props: {
    list: { type: Array, default: null },
    routeName: { type: String, default: null },
    icon: { type: String, default: null },
    File: { type: Object, default: null },
    ListName: { type: String, default: null }
  },

  computed: {
    ...mapGetters(['getBaseColor'])
  },

  methods: {
    async Down () {
      try {
        await this.$ims.put(`/v1/board/${this.File.idx}/file`, { params: { fileIdx: this.File.idx } })
      } catch (e) {
        console.log(e)
      }
    },

    moveDetail (idx) {
      this.$router.push({
        name: this.routeName,
        params: { no: idx }
      })
    }
  }
}
</script>

<style scoped>
  .move_list {position:absolute; right:0; top:50%; transform:translateY(-50%);}

  .notice__detail__content--images{
    text-align: center
  }
  .notice__detail__title{
    border-bottom: 1px solid #ccc;
  }

  .notice__list__title__date{
    text-align: center;
    width:98px;
  }
  .notice__list__title__area{
    width: 80%;
  }

  .card__content {
    overflow-y:scroll; box-sizing:border-box;
    box-sizing:border-box;
    max-height:37vw;
  }

  @media screen and (max-width:1240px) {
    .card__content {
      max-height:50vw;
    }
  }

  @media screen and (max-width:960px) {
    .card__content {
      max-height:70vw;
    }
  }

  @media screen and (max-width:640px) {
    .card__content {
      max-height:100vw;
    }
  }
</style>
