<template>
  <v-container fluid fill-height class="pa-0">
    <v-layout>
      <v-flex>
        <v-jumbotron
          :gradient="gradient"
          dark
          src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg">
          <v-container fluid fill-height>
            <v-layout align-center row wrap justify-center>
              <v-flex text-xs-left xs12 md9>
                <h3 class="display-3">편리한 차량예약관리의 시작 IMS</h3>
                <p class="mb-1">
                  IMS(Intelligence Mobility System)는 차량예약을 신속하게 확인하고 관리할 수 있는 통합예약관리 서비스를 제공합니다.<br>
                  PC, 모바일,  앱 어디서든 IMS의 서비스를 이용해보세요.
                </p>
                <p>
                  운영문의 070-7435-3952
                </p>
              </v-flex>
            </v-layout>
          </v-container>
        </v-jumbotron>

        <v-layout row wrap justify-center class="mt-3 text-md-center text-xs-center">
          <v-flex xs12 md3 class="pa-4 info_box">
            <v-icon size="50" style="display:block;">phone_in_talk</v-icon>
            <h3 class="mt-3 subheading">실시간 예약콜!</h3>
            <p class="mt-1">
              차량만 등록하면 고객의 요청에 맞추어 자동으로 차량을 예약해드립니다.
            </p>

            <!--<router-link to="/matchCall">바로가기</router-link>-->
          </v-flex>
          <v-flex xs12 md3 class="pa-4 info_box">
            <v-icon size="50" style="display:block;">category</v-icon>
            <h3 class="mt-3 subheading">단순하며 쉬운 화면 구성!</h3>
            <p class="mt-1">
              복잡하고 어렵지 않습니다. 필요한 기능만, 필요한 정보만 보여줍니다.
            </p>
          </v-flex>
          <v-flex xs12 md3 class="pa-4 info_box">
            <v-icon size="50" style="display:block;">smartphone</v-icon>
            <h3 class="mt-3 subheading">PC, 모바일, 앱 어디서든!</h3>
            <p class="mt-1">
              PC와 모바일에서 편리한 차량통합관리를, 앱에서 실시간 예약콜을 받아보세요.
            </p>

            <a href="https://itunes.apple.com/kr/app/ims/id1434025068?mt=8" target="_blank">아이폰</a>
            /
            <a href="https://play.google.com/store/apps/details?id=com.sidestep.ims" target="_blank">안드로이드</a>
          </v-flex>
        </v-layout>

        <v-layout row wrap  justify-center class="mt-3 text-md-center mb-5 pa-2">
          <DashBoardContent :list="noticeList"
                            :icon="'notification_important'"
                            :ListName="'NoticeList'"
                            :routeName="'NoticeDetail'">
            <span slot="title">공지사항</span>
          </DashBoardContent>

          <DashBoardContent :list="communityList"
                            :icon="'forum'"
                            :ListName="'CommunityList'"
                            :routeName="'CommunityDetail'">
            <span slot="title">커뮤니티</span>
          </DashBoardContent>

          <DashBoardContent :list="transfers"
                            :icon="'work'"
                            :ListName="'TransferList'"
                            :routeName="'TransferDetail'">
            <span slot="title">양수양도</span>
          </DashBoardContent>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./homeJS.js"></script>

<style scoped>
  .info_box h3 {color:#2f2f2f;}
  .info_box p {color:#5f5f5f; word-break:keep-all;}
</style>
