<template>
  <v-container fluid fill-height>
    <v-layout justify-center align-center>
      <v-flex xs12 md6 lg4 align-center>
        <v-card class="elevation-4">
          <!--<v-toolbar dark color="primary">
            <v-toolbar-title>Login form</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn
                icon
                large
                :href="source"
                target="_blank"
                slot="activator"
              >
                <v-icon large>code</v-icon>
              </v-btn>
              <span>Source</span>
            </v-tooltip>
          </v-toolbar>-->

          <!--<v-card-text class="text-xs-center">
            <v-icon x-large color="gray darken-2">fingerprint</v-icon>
          </v-card-text>-->

          <v-card-title primary :class="[getBaseColor.CardTitle, 'layout']">
            <v-icon class="white--text mr-2">fingerprint</v-icon>
            <div class="title white--text">PROJECT1</div>
          </v-card-title>

          <v-card-text>
            <form ref="loginForm" class="mt-3" @keyup.enter="onSubmit">
              <v-text-field
                v-model="email"
                prepend-icon="person"
                name="email"
                label="Email"
                type="email"
                v-validate="'required|email'"
                :error="errors.has('email')"
                :error-messages="errors.first('email')"
                autofocus
              />
              <v-text-field
                v-model="password"
                prepend-icon="lock"
                name="password"
                label="Password"
                id="password"
                type="password"
                v-validate="'required|min:6'"
                :error="errors.has('password')"
                :error-messages="errors.first('password')"
              />
            </form>

            <v-layout row wrap class="mb-3">
              <v-flex xs12><v-btn :class="getBaseColor.BaseBtn" dark :block="true" @click="onSubmit">로그인</v-btn></v-flex>
              <v-flex xs12><v-btn :class="getBaseColor.None" :block="true" to="/account/register">업체 회원가입</v-btn></v-flex>
            </v-layout>

            <v-flex xs12 class="text-xs-right">
              <router-link to="/account/password">비밀번호를 잊어버리셨나요?</router-link>
            </v-flex>
          </v-card-text>
        </v-card>

        <!--<v-card class="elevation-4 mt-4">
          <v-card-text>
            계정이 없으신가요?
            <v-layout>
            </v-layout>
          </v-card-text>
        </v-card>-->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import qs from 'qs'

import { mapGetters } from 'vuex'

import Constant from '@/utils/Constant'

export default {
  name: 'login',

  data () {
    return {
      email: '', // todo 나중에삭제
      password: '' // todo 나중에삭제
    }
  },

  computed: {
    ...mapGetters(['getBaseColor'])
  },

  mounted: function () {

  },

  methods: {
    onSubmit () {
      let self = this

      this.$validator.validate().then(result => {
        if (result) {
          self.$ims.post('/v1/auth', qs.stringify({userEmail: this.email, userPassword: this.password}))
            .then(function (res) {
              if (res.data.items.userType !== 'SYSTEM_ADMIN') {
                localStorage.setItem('isAuth', 'true')
                localStorage.setItem('userPhone', res.data.items.userPhone)
                localStorage.setItem('userName', res.data.items.userName)
                localStorage.setItem('userType', res.data.items.userType)

                self.$store.commit(Constant.GET_ME_DATA, res.data.items)

                self.$router.push('/home')
              } else {
                alert('Access denied')
                self.$refs.loginForm.reset()
              }
            })
            .catch(function (error) {
              console.log(error)
            })
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
