a {text-decoration:none;}
table {border-collapse:collapse;}

.v-select__selections>input {display:none;}
.vdatetime-input {display:none !important;}

@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
