<template>
  <div>
    <!--<div class="input-group">
      <input type="text"
             ref="autocomplete"
             placeholder="Search"
             class="form-control"
             onfocus="value = ''">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>-->

    <!--<div class="input-group">
      <GmapAutocomplete ref="mapAuto"
                        @place_changed="setPlace"
                        class="form-control"
                        placeholder="Search"
                        :selectFirstOnEnter="true"
                        :options="{
                          componentRestrictions: {'country': ['kr']},
                          types: ['(regions)']
                         }"
      >
      </GmapAutocomplete>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" @click="usePlace"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>-->

    <GmapAutocomplete ref="mapAuto"
                      @place_changed="setPlace"
                      class="search_bar"
                      :placeholder="placeholder"
                      :disabled="disabled"
                      :value="addrText"
                      :selectFirstOnEnter="true"
                      :options="{ componentRestrictions: { 'country': ['kr'] } }">
    </GmapAutocomplete>

    <GmapMap ref="mapRef"
             :style="'width: 100%; height: '+height+'px;'"
             :zoom="zoom"
             :center="center">

      <GmapMarker v-if="place === null"
                  v-for="(m, index) in mapMarkers"
                  label="A"
                  :key="index"
                  :position="m.position"
                  :clickable="true"
                  @click="center = m.position" />

      <GmapMarker v-if="place"
                  label="A"
                  :position="{
                    lat: this.place.geometry.location.lat(),
                    lng: this.place.geometry.location.lng()
                  }" />

    </GmapMap>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: 'Search'
    },
    height: {
      required: false,
      type: Number,
      default: 300
    },
    zoom: {
      required: false,
      type: Number,
      default: 15
    },
    mapMarkers: {
      required: false,
      type: Array,
      default: null
    },
    addrText: {
      required: false,
      type: String,
      default: null
    },
    disabled: {
      required: false,
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      center: { lat: 37.537477, lng: 127.082629 },
      place: null,
      markers: []
    }
  },

  mounted () {
    // 마운트 되었지만, map의 init가 되지 않은 상태이기에, map의 init가 끝난뒤 처리가 필요한경우 아래처럼 처리
    /*
    this.$refs.mapRef.$mapPromise.then((map) => {
      // map.panTo({lat: this.place.geometry.location.lat(), lng: this.place.geometry.location.lat()})
    })
    */

    let Marker = this.$refs.mapRef.$slots.default.filter(l => {
      return l.tag === 'vue-component-184-GmapMarker'
    })
    console.log()

    if (Marker[0].componentOptions.propsData.position.lat && Marker[0].componentOptions.propsData.position.lng) {
      this.center.lat = Marker[0].componentOptions.propsData.position.lat
      this.center.lng = Marker[0].componentOptions.propsData.position.lng
    }
  },

  methods: {
    setPlace (place) {
      if (place.hasOwnProperty('geometry')) {
        this.place = place
        this.center.lat = place.geometry.location.lat()
        this.center.lng = place.geometry.location.lng()
      } else {
        this.place = null
        this.center = { lat: 37.537477, lng: 127.082629 }
        this.markers = []
      }

      let result = {}

      if (this.place) {
        result.lat = this.center.lat
        result.lng = this.center.lng
        result.city = ''
        result.area = ''
        result.dong = ''
        result.postal_code = ''
        result.formatted_address = this.place.formatted_address.replace('대한민국 ', '')

        this.place.address_components.forEach(value => {
          value.types.forEach(value2 => {
            if (value2 === 'sublocality_level_2') result.dong = value.long_name
            else if (value2 === 'locality') result.area = value.long_name
            else if (value2 === 'sublocality_level_1') result.area = value.long_name
            else if (value2 === 'administrative_area_level_1') result.city = value.long_name
            else if (value2 === 'postal_code') result.postal_code = value.long_name
          })
        })
      }

      this.$emit('callback', result)
    }
  }

}
</script>

<style scoped>
.search_bar {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #f0f0f0;
  margin-bottom: 5px;
  background-color: #fff;
}
.search_bar:focus {
  border: 2px solid #1976d2;
  outline: none !important;
  transition-duration: 0.8s;
}
</style>
