<template>
  <div class="form-group padding-left-30">
    <datetime class="form-control w100" v-model="startDate" format="yyyy-MM-dd" :max-datetime="endDate" :phrases="{ok: '확인', cancel: '취소'}" ></datetime>
    <span>~</span>
    <datetime class="form-control w100" v-model="endDate" format="yyyy-MM-dd" :min-datetime="startDate" :phrases="{ok: '확인', cancel: '취소'}" ></datetime>
    <div class="btn-group branch_detail_menu" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" @click="periodDate('today')">오늘</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" @click="periodDate('sevenDay')">7일</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" @click="periodDate('oneMonth')">1개월</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" @click="periodDate('')">전체</button>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  data () {
    return {
      startDate: null,
      endDate: null
    }
  },
  mounted () {
  },
  methods: {
    periodDate: function (val) {
      switch (val) {
        case 'today': {
          this.startDate = moment().format('YYYY-MM-DD')
          this.endDate = moment().format('YYYY-MM-DD')
          break
        }
        case 'sevenDay': {
          let startDate = moment().format('YYYY-MM-DD')
          let endDate = moment().add(7, 'days')
          this.startDate = moment(startDate).format('YYYY-MM-DD')
          this.endDate = moment(endDate).format('YYYY-MM-DD')
          break
        }
        case 'oneMonth': {
          let startDate = moment().format('YYYY-MM-DD')
          let endDate = moment().add(1, 'months')
          this.startDate = moment(startDate).format('YYYY-MM-DD')
          this.endDate = moment(endDate).format('YYYY-MM-DD')
          break
        }
        default: {
          this.startDate = null
          this.endDate = null
          break
        }
      }
      this.$emit('callback', this.startDate, this.endDate)
    }
  },
  watch: {
    startDate: {
      handler: function () {
        this.$emit('setStartDate', moment(this.startDate).format('YYYY-MM-DD'))
      }
    },
    endDate: {
      handler: function () {
        this.$emit('setEndDate', moment(this.endDate).format('YYYY-MM-DD'))
      }
    }
  }

}
</script>

