<template>
  <v-card-text class="pa-0">
    <ul class="community_list" v-if="TotalCount">
      <slot name="head"></slot>

      <slot name="body">
        <li class="alert_ar">
          <v-flex text-xs-center>
            <v-progress-circular indeterminate color="light-blue accent-4" />
          </v-flex>
        </li>
      </slot>
    </ul>

    <ul class="community_list" v-else-if="TotalCount === 0">
      <li class="alert_ar">
        <v-alert :value="true" outline icon="warning">
          검색 결과를 찾을 수 없습니다.
        </v-alert>
      </li>
    </ul>
  </v-card-text>
</template>

<script>
export default {
  name: 'Community-Table',

  props: {
    TotalCount: {
      Type: Number,
      default: 0
    }
  }
}
</script>

<style scoped>
  .community_list {list-style:none; padding:0 20px;}
  .community_list>li {overflow:hidden; padding:20px 0; box-sizing:border-box; border-bottom:1px solid #c5c5c5; cursor:pointer;}
  .community_list>li:hover {background-color:#f0f0f0;}
  .community_list>li>div {float:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:5px 10px; box-sizing:border-box; text-align:center; display:inline-block;}
  .community_list>li>div>span {display:none;}
  .community_list>li>div:nth-child(1) {width:8%;}
  .community_list>li>div:nth-child(2) {width:62%; text-align:left;}
  .community_list>li>div:nth-child(3) {width:10%;}
  .community_list>li>div:nth-child(4) {width:10%;}
  .community_list>li>div:nth-child(5) {width:10%;}

  .community_list>.alert_ar {border-bottom:0;}
  .community_list>.alert_ar,
  .community_list>li:first-child {cursor:default;}
  .community_list>.alert_ar:hover,
  .community_list>li:first-child:hover {background-color:#fff;}
  .community_list>li:first-child>div {text-align:center; color:#949494;}

  .community_list>.alert_ar>div {width:100% !important;}

  @media screen and (max-width:1020px) {
    .community_list>li>div:nth-child(1) {width:8%;}
    .community_list>li>div:nth-child(2) {width:57%;}
    .community_list>li>div:nth-child(3) {width:10%;}
    .community_list>li>div:nth-child(4) {width:15%;}
    .community_list>li>div:nth-child(5) {width:8%;}
  }

  @media screen and (max-width:780px) {
    .community_list {padding:0 10px;}
    .community_list>li {padding:10px 0;}

    .community_list>li:first-child {display:none;}
    .community_list>li>div:nth-child(1) {width:15%; font-size:4vw; font-weight:bold; color:#949494;}
    .community_list>li>div:nth-child(2) {width:85%; font-size:4vw; border-bottom:1px dotted #c5c5c5; font-weight:bold;}
    .community_list>li>div:nth-child(3) {width:25%; text-align:left; font-size:3.5vw;}
    .community_list>li>div:nth-child(4) {width:42%; text-align:left; font-size:3.5vw; color:#949494;}
    .community_list>li>div:nth-child(5) {width:33%; text-align:left; font-size:3.5vw; color:#949494;}

    .community_list>li>div>span {display:inline; color:#222;}
  }
</style>
