<template>
  <v-container class="white" fluid grid-list-md text-xs-left elevation-4 mb-4>
    <form class="search_form" @submit.prevent="onSearchSubmit">
      <v-layout row wrap>
        <slot :item="searchFormData"></slot>

        <v-flex xs12 md12 text-xs-center>
          <v-btn :class="getBaseColor.BaseBtn" dark round @click.prevent="onSearchSubmit">검색</v-btn>
        </v-flex>
      </v-layout>
    </form>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Common-Search-Form',
  props: ['searchFormData'],
  computed: mapGetters({
    getBaseColor: 'getBaseColor'
  }),
  watch: {
    '$route': function (to) {
      let vm = this
      let SearchObj = Object.keys(vm.searchFormData)
      let QueryObj = Object.keys(to.query)

      if (QueryObj.length <= 1) {
        SearchObj.forEach(l => {
          if (l !== 'offset' && l !== 'limit') {
            vm.searchFormData[l] = null
          }
        })

        if (QueryObj[0] !== 'page') this.$eBus.$emit('Search-Action', vm.searchFormData)
      } else {
        QueryObj.forEach(l => {
          if (vm.$route.query[l]) vm.searchFormData[l] = vm.$route.query[l]
        })

        this.$eBus.$emit('Search-Action', vm.searchFormData)
      }
    }
  },
  mounted () {
    let vm = this
    let QueryObj = Object.keys(vm.$route.query)

    if (QueryObj.length > 1) {
      QueryObj.forEach(l => {
        if (l !== 'page') {
          if (vm.$route.query[l]) vm.searchFormData[l] = vm.$route.query[l]
        }
      })

      this.$eBus.$emit('Search-Action', vm.searchFormData)
    }
  },
  methods: {
    onSearchSubmit () {
      let vm = this
      let QueryString = ''

      Object.keys(vm.searchFormData).forEach(i => {
        if (i !== 'offset' && i !== 'limit' && i !== 'page') {
          if (vm.searchFormData[i] !== null) {
            QueryString = `${QueryString.trim()}&${i}=${vm.searchFormData[i]}`
          }
        }
      })

      // if (this.$route.query.page) this.$router.push({ path: `${this.$route.path}?${QueryString}` })
      // else this.$router.push({ path: `${this.$route.path}?page=1&${QueryString}` })
      
      this.$router.push({ path: `${this.$route.path}?page=1&${QueryString}` })

      this.$eBus.$emit('Search-Action', vm.searchFormData)
    }
  }
}
</script>

<style scoped>
  .search_form {
    padding-top:15px;
  }
</style>
