<template>
  <ul class="pagination">
    <li class="pagination__navigation" v-if="first">
      <router-link v-if="!nonehistory" :to="`?page=1${getQuery}`"><i class="material-icons grey--text">first_page</i></router-link>
      <a href="#" v-if="nonehistory" @click.prevent="HashChange(1)"><i class="material-icons grey--text">first_page</i></a>
    </li>
    <li class="pagination__navigation" v-if="first">
      <router-link v-if="!nonehistory" :to="`?page=${(NowQuery - 1)}${getQuery}`"><i class="material-icons grey--text">chevron_left</i></router-link>
      <a href="#" v-if="nonehistory" @click.prevent="HashChange(offset - 1)"><i class="material-icons grey--text">chevron_left</i></a>
    </li>

    <li v-for="(l, c) in pages" :key="c" :class="{ pagination__block: true, active: l.active }" v-if="(Math.ceil((c + 1) / PageBtnLimit) == Math.ceil(NowQuery / PageBtnLimit)) && !nonehistory">
      <router-link :to="`?page=${l.page}${getQuery}`"><span>{{ l.page }}</span></router-link>
    </li>

    <li v-for="(l, c) in pages" :key="c" :class="{ pagination__block: true, active: l.active }" v-if="(Math.ceil((c + 1) / PageBtnLimit) == Math.ceil(offset / PageBtnLimit)) && nonehistory">
      <a href="#" @click.prevent="HashChange(c + 1)"><span>{{ l.page }}</span></a>
    </li>

    <li class="pagination__navigation" v-if="last">
      <router-link v-if="!nonehistory" :to="`?page=${(NowQuery + 1)}${getQuery}`"><i class="material-icons grey--text">chevron_right</i></router-link>
      <a href="#" v-if="nonehistory" @click.prevent="HashChange(offset + 1)"><i class="material-icons grey--text">chevron_right</i></a>
    </li>
    <li class="pagination__navigation" v-if="last">
      <router-link v-if="!nonehistory" :to="`?page=${pages[pages.length - 1].page}${getQuery}`"><i class="material-icons grey--text">last_page</i></router-link>
      <a href="#" v-if="nonehistory" @click.prevent="HashChange(pages[pages.length - 1].page)"><i class="material-icons grey--text">last_page</i></a>
    </li>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Common-Page',
  props: ['totalLen', 'count', 'items', 'nonehistory', 'offset'],
  data () {
    return {
      NowQuery: (this.$route.query.page) ? parseFloat(this.$route.query.page) : 1,
      PageBtnLimit: 5,
      deleteModal: false,
      selected: [],
      selectCount: 10
    }
  },
  watch: {
    '$route': function (to) {
      this.NowQuery = parseFloat(to.query.page)
      this.$eBus.$emit('Page-Change')
    }
  },
  computed: {
    ...mapGetters(['getBaseColor']),
    pages () {
      let vm = this
      let pageArr = []
      let QueryPage = (!vm.nonehistory) ? vm.$route.query.page : vm.offset

      for (let i = 1; i <= Math.ceil(vm.totalLen / vm.count); i++) {
        if (i === 1) pageArr.push({ page: i, active: (parseFloat(QueryPage) === i || !QueryPage) })
        else pageArr.push({ page: i, active: parseFloat(QueryPage) === i })
      }

      return pageArr
    },
    first () {
      let vm = this
      let QueryPage = (!vm.nonehistory) ? vm.$route.query.page : vm.offset

      return parseFloat(QueryPage) !== 1 && QueryPage
    },
    last () {
      let vm = this
      let QueryPage = (!vm.nonehistory) ? vm.$route.query.page : vm.offset

      return (parseFloat(QueryPage) !== Math.ceil(vm.totalLen / vm.count)) && vm.items.length !== 0 && Math.ceil(vm.totalLen / vm.count) > 1
    },
    getQuery () {
      let QueryObj = this.$route.query
      let QueryString = ''

      Object.keys(QueryObj).forEach(l => {
        if (l !== 'page') QueryString = `${QueryString}&${l}=${QueryObj[l]}`
      })

      return QueryString
    }
  },
  methods: {
    HashChange (Page) {
      let vm = this

      if (vm.nonehistory) this.$eBus.$emit('Hash-Change', Page)
    }
  }
}
</script>

<style scoped>
  .pagination{
    display: inline-block;
    padding:0;
  }
  .pagination:after{
   content:'';
    display: block;
    clear: both;
  }
  .pagination li{
    list-style: none;
    float: left;
    margin:0 5px ;
  }
  .pagination li a{
   text-decoration: none;
  }
  .pagination__navigation a{
    display: inline-block;
    padding:4px 4px 0px;
    border-radius:3px;
    background-color: #fff;
    box-shadow:1px 1px 1px 1px #ccc;
  }
  .pagination__block a{
    display: inline-block;
    padding:6px 13px;
    border-radius:3px;
    background-color: #fff;
    color: #666;
    box-shadow:1px 1px 2px 1px #ccc;
  }
  .pagination__block.active a{
    background-color: #0091EA;
    border: 1px solid #0091EA;
    color: #fff;
  }

  @media screen and (max-width:960px) {
    .pagination li {
      margin:0 1vw;
    }

    .pagination__navigation a, .pagination__block a {
      padding:0;
      width:7vw;
      height:7vw;
      line-height:7vw;
    }
  }
</style>
