<template>
  <div>
    <v-btn style="overflow:hidden;"
           v-if="!NoneAuto"
           absolute dark fab bottom right color="pink"
           :readonly="true"
           @click.native="ChangeClick">

      <v-icon>add</v-icon>
    </v-btn>

    <v-btn style="overflow:hidden;"
           v-if="NoneAuto"
           absolute dark fab bottom right color="pink"
           :readonly="true"
           @click.native="ChangeClick">
      <v-icon>add_to_photos</v-icon>
    </v-btn>
<!--

    <v-flex md4 class="mt-2">
      <v-text-field prepend-icon="add_to_photos"
                    single-line
                    :label="label"
                    required="required"
                    @click.native="ChangeClick"
                    readonly />
    </v-flex>
-->

    <input style="opacity:0; position:absolute;" type="file"
           accept="image/*"
           :multiple="false"
           ref="fileTextField"
           @change="FileInsert">
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Common-File-Upload',
  props: ['type', 'NoneAuto'],
  data () {
    return {
      label: '이미지를 선택해주세요.'
    }
  },
  computed: {
    ...mapGetters(['getBaseColor'])
  },
  methods: {
    ChangeClick () {
      this.$refs['fileTextField'].click()
    },

    FileInsert ($event) {
      const files = $event.target.files || $event.dataTransfer.files

      let InsertFile

      if (files) {
        if (files.length > 0) InsertFile = [...files].map(file => file.name).join(', ')
        else InsertFile = null
      } else {
        InsertFile = $event.target.value.split('\\').pop()
      }

      InsertFile = $event.target.files[0]

      this.label = InsertFile.name

      if (this.type) this.$eBus.$emit('File-Insert', {type: this.type, InsertFile: InsertFile})
      else this.$eBus.$emit('File-Insert', InsertFile)
    }
  }
}
</script>
