<template>
  <div class="text-center">
    <ul class="pagination" v-show="totalCount !== 0 && result.pageNo !== 0" style="cursor:pointer">
      <li v-show="result.pageNo > pageBlock">
        <a style="text-decoration: none;" @click="movePage(firstPageNo)">
          <i class="material-icons">keyboard_arrow_left</i>
          <i class="material-icons">keyboard_arrow_left</i>
        </a>
      </li>
      <li v-show="result.pageNo > pageBlock">
        <a style="text-decoration: none;" @click="movePage(prevBlockStartNo)">
          <i class="material-icons">keyboard_arrow_left</i>
        </a>
      </li>
      <li v-for="(n, i) in pageBlock" :key="i">
        <a :v-model="result.pageNo" class="active" v-show="startPageNo + i === result.pageNo && startPageNo + i < finalPageNo + 1">
          <span>{{ startPageNo + i }}</span>
        </a>
        <a style="text-decoration: none;" v-show="startPageNo + i !== result.pageNo && startPageNo + i < finalPageNo + 1" @click="movePage(startPageNo + i)"><span>{{ startPageNo + i }}</span></a>
      </li>
      <li v-show="endPageNo < finalPageNo">
        <a style="text-decoration: none;" @click="movePage(nextBlockStartNo)">
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
      </li>
      <li v-show="endPageNo < finalPageNo">
        <a style="text-decoration: none;" @click="movePage(finalPageNo)">
          <i class="material-icons">keyboard_arrow_right</i>
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    limit: { // 한 페이지에 보여줄 게시글 수
      required: true,
      type: Number
    },
    pageBlock: { // 페이징 네비[블록] 사이즈
      required: false,
      type: Number,
      default: 10
    }
  },

  data () {
    return {
      page: 1, // 페이지 번호
      totalCount: 0, // 게시 글 전체 수
      endRowNo: 0, // 조회 마지막 row 번호
      firstPageNo: 0, // 첫 번째 페이지 번호
      finalPageNo: 0, // 마지막 페이지 번호
      prevPageNo: 0, // 이전 페이지 번호
      nextPageNo: 0, // 다음 페이지 번호
      startPageNo: 0, // 시작 페이지 (페이징 네비 기준)
      endPageNo: 0, // 끝 페이지 (페이징 네비 기준)
      nextBlockStartNo: 0, // 현재 페이지번호를 기준으로 다음 블록의 첫페이지
      prevBlockStartNo: 0, // 현재 페이지번호를 기준으로 이전 블록의 첫페이지

      result: {
        pageNo: 1
      }
    }
  },

  methods: {
    draw: function (totalCount, pageNo) {
      // init variables
      this.totalCount = totalCount
      this.page = pageNo

      // --[첫 페이지], [마지막 페이지] 계산
      let finalPage = (this.totalCount + (this.limit - 1)) / this.limit // 마지막 페이지
      this.firstPageNo = 1 // 첫 번째 페이지 번호
      this.finalPageNo = finalPage

      if (pageNo > finalPage) {
        pageNo = this.finalPageNo
      }

      // -- [이전] , [다음] 페이지 계산
      if (pageNo === 1) {
        this.prevPageNo = 1 // 이전 페이지 번호
      } else {
        this.prevPageNo = ((pageNo - 1) < 1 ? 1 : (pageNo - 1)) // 이전 페이지 번호
      }

      if (pageNo === finalPage) {
        this.nextPageNo = finalPage // 다음 페이지 번호
      } else {
        this.nextPageNo = ((pageNo + 1) > finalPage ? finalPage : (pageNo + 1)) // 다음 페이지 번호
      }

      // -- 페이징 네비[블록]을 계산
      let startPage = (Math.floor((pageNo - 1) / this.pageBlock)) * this.pageBlock + 1 // 시작 페이지 (페이징 네비 기준)
      let endPage = startPage + this.pageBlock - 1 // 끝 페이지 (페이징 네비 기준)

      // +) 현재 페이지를 기준으로 다음 블록의 첫페이지
      this.nextBlockStartNo = startPage + this.pageBlock
      // +) 현재 페이지를 기준으로 이전 블록의 마지막페이지
      this.prevBlockStartNo = startPage - 1

      // 페이징 네비가 만약 [20-30] 인데 마지막 페이지가 28 인 경우
      // [29, 30] 페이지는 페이징 네비에 미노출 해야 한다.
      if (endPage > finalPage) { // [마지막 페이지 (페이징 네비 기준) > 마지막 페이지] 보다 큰 경우
        endPage = finalPage
      }

      // --조회 시작 row, 조회 마지막 row 계산
      this.endRowNo = pageNo * this.limit - 1
      this.result.pageNo = pageNo

      // 소수점 버림
      this.startPageNo = Math.floor(startPage)
      this.endPageNo = Math.floor(endPage)
      this.endRowNo = Math.floor(this.endRowNo)
      this.firstPageNo = Math.floor(this.firstPageNo)
      this.finalPageNo = Math.floor(this.finalPageNo)
      this.prevPageNo = Math.floor(this.prevPageNo)
      this.nextPageNo = Math.floor(this.nextPageNo)
      this.nextBlockStartNo = Math.floor(this.nextBlockStartNo)
      this.prevBlockStartNo = Math.floor(this.prevBlockStartNo)
    },

    getOffset: function (pageNo) {
      return ((pageNo - 1) * this.limit)
    },

    movePage: function (pageNo) {
      this.draw(pageNo)

      /** console.log */
      /*
      console.log('[limit] 한 페이지에 보여줄 게시글 수.: ' + this.limit)
      console.log('[totalCount] 게시 글 전체 수: ' + this.totalCount)
      console.log('[pageBlock] 페이징 네비[블록] 사이즈: ' + this.pageBlock)
      console.log('[pageNo] 페이지 번호: ' + pageNo)
      console.log('[endRowNo] 조회 마지막 row 번호: ' + this.endRowNo)
      console.log('[firstPageNo] 첫 번째 페이지 번호: ' + this.firstPageNo)
      console.log('[finalPageNo] 마지막 페이지 번호: ' + this.finalPageNo)
      console.log('[prevPageNo] 이전 페이지 번호: ' + this.prevPageNo)
      console.log('[nextPageNo] 다음 페이지 번호: ' + this.nextPageNo)
      console.log('[startPageNo] 시작 페이지 (페이징 네비 기준): ' + this.startPageNo)
      console.log('[endPageNo] 끝 페이지 (페이징 네비 기준): ' + this.endPageNo)
      console.log('[nextBlockStartNo] 현재 페이지번호를 기준으로 다음 블록의 첫페이지: ' + this.nextBlockStartNo)
      console.log('[prevBlockStartNo] 현재 페이지번호를 기준으로 이전 블록의 첫페이지: ' + this.prevBlockStartNo) */

      this.$emit('callback', pageNo)
    }
  }

}
</script>

<style>
.pagination .active {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
</style>

