<template>
  <v-card-text>
    <!--<v-flex class="count_select">
      <v-select
        :items="[10, 20, 30]"
        solo
        v-model="selectCount" />
    </v-flex>-->

    <div style="overflow-x:auto;">
      <table class="table__list">
        <thead class="table__list__head">
          <tr>
            <th v-if="checkbox" style="width:52px;">
              <v-checkbox
                :value="CheckAllval"
                @click.stop="CheckAll"
                primary
                hide-details
              ></v-checkbox>
            </th>

            <th v-for="(headers, i) in headers" :key="i" class="text-xs-center">{{headers.text}}</th>
          </tr>
        </thead>

        <tbody class="table__list__body">

          <slot>
            <tr class="table__list__body__result--default">
              <td :colspan="headers.length + 1">
                <v-flex text-xs-center>
                  <v-progress-circular
                    indeterminate
                    color="light-blue accent-4" />
                </v-flex>
              </td>
            </tr>
          </slot>

        </tbody>
      </table>
    </div>

    <div class="pagination__area text-xs-center">
      <v-layout align-center row wrap>
        <v-flex xs12 md1 v-if="checkbox" text-xs-right text-md-left>
          <v-dialog v-model="deleteModal" persistent max-width="290" class="delete__box">
            <v-btn slot="activator" :class="getBaseColor.DeleteBtn" dark>선택삭제</v-btn>

            <v-card>
              <v-card-title class="headline">삭제하시겠습니까?</v-card-title>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click.native="deleteModal = false">닫기</v-btn>
                <v-btn color="green darken-1" flat @click.native="deleteModal = false" @click.prevent="deleteEvent">삭제</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>

        <v-flex xs12 md10 v-if="pageAction && checkbox" class="pa-0 mt-2">
          <CommonPage :totalLen="totalLen" :count="count" :items="items" />
        </v-flex>
        <v-flex xs12 md12 v-if="pageAction && !checkbox" class="pa-0 mt-2">
          <CommonPage :totalLen="totalLen" :count="count" :items="items" />
        </v-flex>
      </v-layout>
    </div>
  </v-card-text>
</template>

<script>
import { mapGetters } from 'vuex'

import CommonPage from './CommonPage'

export default {
  name: 'Common-Table',

  props: ['headers', 'checkbox', 'totalLen', 'items', 'count', 'pageAction', 'number', 'selected'],

  data () {
    return {
      PageBtnLimit: 5,
      CheckAllval: false,
      deleteModal: false,
      selectCount: 10
    }
  },

  components: { CommonPage },

  watch: {
    selectCount (v) {
      this.$router.push({ query: { page: `1` } })

      this.$eBus.$emit('Change-Count', v)
    },
    $route () {
      this.$eBus.$emit('Page-Change')
    },
    selected () {
      this.CheckAllval = (this.selected.length !== 0)
    }
  },

  computed: {
    ...mapGetters(['getBaseColor']),
    pages () {
      let vm = this
      let pageArr = []

      for (let i = 1; i <= Math.ceil(vm.totalLen / vm.count); i++) {
        if (i === 1) pageArr.push({ page: i, active: (parseFloat(vm.$route.query.page) === i || !vm.$route.query.page) })
        else pageArr.push({ page: i, active: parseFloat(vm.$route.query.page) === i })
      }

      return pageArr
    },
    first () {
      return parseFloat(this.$route.query.page) !== 1 && this.$route.query.page
    },
    last () {
      let vm = this

      return (parseFloat(vm.$route.query.page) !== Math.ceil(vm.totalLen / vm.count)) && vm.items.length !== 0 && Math.ceil(vm.totalLen / vm.count) > 1
    },
    getQuery () {
      let QueryObj = this.$route.query
      let QueryString = ''

      Object.keys(QueryObj).forEach(l => {
        if (l !== 'page') QueryString = `${QueryString}&${l}=${QueryObj[l]}`
      })

      return QueryString
    }
  },

  methods: {
    deleteEvent () {
      this.$eBus.$emit('Select-Delete')
    },
    CheckAll () {
      let vm = this

      this.$eBus.$emit('Check-All')

      vm.CheckAllval = !vm.CheckAllval
    }
  }
}
</script>

<style>
  .table__list .table__list__body td{
    padding:15px 10px;
    border-bottom: 1px solid #c5c5c5;
    cursor:pointer;
  }
  .v-input, .v-radio {
    margin-top:0;
    margin-right:0;
  }
</style>

<style scoped>
  /*테이블스타일*/
.count_select {
  width:100px;
}

.more__horize {
  width: 20px;
  line-height: 5px;
  padding: 18px 0 8px 0;
}

.table__list{
  width:100%;
  margin:0;
  padding:0;
  border-collapse:collapse;
  min-width: max-content;
}
.table__list .table__list__head th{
  border-bottom: 1px solid #c5c5c5;
  padding: 10px;
  font-weight: normal;
  color: #949494;
}
.table__list .table__list__body td{
  padding:15px 10px;
  border-bottom: 1px solid #c5c5c5;
}
.table__list .table__list__body tr:hover{
  background-color: #f0f0f0;
}
.table__list .table__list__body  .table__list__body__result--count,
.table__list .table__list__body  .table__list__body__result--checkbox{
  width:5%;
  text-align: center;
}

  /*페이징스타일*/
  .pagination__area {
    position:relative;
  }
  .pagination__area .pagination{
    display: inline-block;
  }
  .pagination__area .pagination:after{
   content:'';
    display: block;
    clear: both;
  }
  .pagination__area .pagination li{
    list-style: none;
    float: left;
    margin:0 5px ;
  }
  .pagination__area .pagination li a{
   text-decoration: none;
  }
  .pagination__area .pagination__navigation a{
    display: inline-block;
    padding:4px 4px 0px;
    border-radius:3px;
    background-color: #fff;
    box-shadow:1px 1px 1px 1px #ccc;
  }
  .pagination__area .pagination__block a{
    display: inline-block;
    padding:6px 13px;
    border-radius:3px;
    background-color: #fff;
    color: #666;
    box-shadow:1px 1px 2px 1px #ccc;
  }
  .pagination__area .pagination__block.active a{
    background-color: #1867C0;
    border: 1px solid #1867C0;
    color: #fff;
  }

</style>
