<template>
  <v-layout mt-3>
    <v-flex xl12 md6 text-xs-left>
      <router-link class="white--text" :to="{ name: this.RouterName }">
        <v-btn :class="getBaseColor.CancelBtn" dark>돌아가기</v-btn>
      </router-link>
    </v-flex>
    <v-flex xl12 md6 text-xs-right v-if="ViewSubmit">
      <v-btn :class="getBaseColor.CurrentBtn" dark @click="$emit('RemoteSubmit')">{{ SubmitText }}</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Form-Remote',

  props: {
    RouterName: {
      required: false,
      type: String,
      default: ''
    },
    SubmitText: {
      required: false,
      type: String,
      default: 'Home'
    },
    ViewSubmit: {
      required: false,
      type: Boolean,
      default: true
    }
  },

  computed: {
    ...mapGetters(['getBaseColor'])
  }
}
</script>
