<template>
  <!-- top toolbar -->
  <v-toolbar class="light-blue accent-4" dark fixed clipped-left app>
    <v-toolbar-side-icon @click.stop="$emit('MenuBtnClick')"></v-toolbar-side-icon>

    <v-toolbar-title>
      <router-link to="/" class="white--text">IMS</router-link>
    </v-toolbar-title>

    <v-spacer></v-spacer>

    <v-menu offset-y>
      <v-btn slot="activator" depressed color="transparent" class="pr-0 mr-0" @click="MyOn = !MyOn">
        <div class="profil_img mr-1">
          <img v-if="getCompanyData.url.small" :src="getCompanyData.url.small" alt="">
          <v-icon v-if="!getCompanyData.url.small" style="width:100%; height:100%;" :class="getBaseColor.Base">mood</v-icon>
        </div>
        {{userName}} 님
        <v-icon :class="{ on : MyOn, 'arrow': true }">keyboard_arrow_down</v-icon>
      </v-btn>

      <v-list>
        <v-list-tile>
          <v-list-tile-title>
            <router-link class="black--text" to="/me/profile/update"><v-icon>create</v-icon> 내정보 수정</router-link>
          </v-list-tile-title>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-title @click.prevent="logout" style="cursor:pointer;"><v-icon>power_settings_new</v-icon> 로그아웃</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
import { mapGetters } from 'vuex'

import Constant from '@/utils/Constant'

export default {
  name: 'Header-Index',

  data () {
    return {
      MyOn: false
    }
  },

  props: ['userName'],

  computed: {
    ...mapGetters(['getBaseColor', 'getCompanyData'])
  },

  methods: {
    logout () {
      localStorage.setItem('isAuth', '')
      this.$router.push('/login')
    },

    getImg: function () {
      this.$ims.get('/v1/companies/me')
        .then(res => {
          this.$store.commit(Constant.GET_COMPANY_IMG_DATA, res.data.items.images[0])
        })
        .catch(error => {
          console.log(error)
        })
    }
  },

  mounted () { this.getImg() }
}
</script>
<style scoped>
  .profil_img {width:30px; height:30px; position:relative; overflow:hidden; border-radius:50%; background-color:#fefefe;}
  .profil_img>img {diplay:block; width:100%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}

  .arrow {transition:transform 0.3s !important;}
  .on {transform:rotate(180deg);}
</style>
