<template>
  <v-footer class="grey darken-3" app style="z-index:10;">
    <v-layout row wrap align-center>
      <v-flex xs12 class="pr-1 pl-1">
        <div class="white--text ml-3 mr-3 text-xs-right">
          Powered by SideStep &copy; 2018
        </div>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer-Index'
}
</script>
