<template>
  <div id="app">
    <v-app id="inspire" class="grey lighten-3" v-if="!AppToWeb">
      <vue-progress-bar></vue-progress-bar>

      <v-snackbar
        v-model="snackbar"
        :timeout="snackbarTimeout"
        :top="snackbarY === 'top'">
        {{ snackbarText }}
        <v-btn
          color="pink"
          flat
          @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>

      <!-- drawer menu -->
      <v-navigation-drawer
        v-model="drawer"
        fixed
        clipped
        app
        v-if="isAuth"
        temporary>
        <v-list dense>
          <template v-for="menu in menus">
            <v-list-group
              v-if="menu.children"
              :key="menu.text"
              v-model="menu.model"
              :prepend-icon="menu.icon">
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>{{ menu.text }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile
                v-for="(child, i) in menu.children"
                :key="i"
                append :to="child.to">
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ child.text }}
                  </v-list-tile-title>
                </v-list-tile-content>

                <v-list-tile-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>

            <v-list-tile
              v-else
              :key="menu.text"
              append :to="menu.to">
              <v-list-tile-action>
                <v-icon>{{ menu.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ menu.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>

      <Header v-if="isAuth" @MenuBtnClick="drawer = !drawer" :userName="userName" />

      <v-content>
        <router-view/> <!-- !!important: router view -->
      </v-content>

      <Footer />
    </v-app>

    <router-view v-else-if="AppToWeb" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import Constant from '@/utils/Constant'

import Menu from '@/components/_include/menu'

import Header from './components/_common/Header'
import Footer from './components/_common/Footer'

export default {
  name: 'App',

  components: { Header, Footer },

  data () {
    return {
      menus: Menu,
      isAuth: false,
      userName: '',
      currentRouteName: '',
      drawer: false,
      snackbar: false,
      snackbarY: 'top',
      snackbarTimeout: 5000,
      snackbarText: ''
    }
  },

  created () {
    let vm = this

    /**
     * vue-progressbar 와 axios 결합 req, res 에 대해 공통처리
     */
    vm.$ims.interceptors.request.use(config => {
      vm.$Progress.start()

      return config
    }, error => {
      vm.$Progress.fail()

      return Promise.reject(error)
    })

    vm.$ims.interceptors.response.use(response => {
      vm.$Progress.finish() // finish when a response is received

      return response
    }, error => {
      if (!vm.$route.matched[0].props.default) {
        console.log('common error')
        console.log(error.response)


        vm.$Progress.fail()

        if (error.response) {
          vm.snackbar = true
          vm.snackbarText = error.response.data.result.message
        }

        if (!error.response || error.response.status === 401) {
          localStorage.setItem('isAuth', '')
          vm.$router.push('/login')
        }

        return Promise.reject(error)
      }
    })
  },

  mounted () {
    this.isAuth = localStorage.getItem('isAuth') === 'true'
    this.userName = localStorage.getItem('userName')
    this.currentRouteName = this.$route.name

    // console.log('isAuth >>> ' + this.isAuth1)

    let LoginData = {
      userType: localStorage.getItem('userType'),
      userPhone: localStorage.getItem('userPhone'),
      userName: localStorage.getItem('userName')
    }

    this.$store.commit(Constant.GET_ME_DATA, LoginData)
  },

  updated: function () {
    this.isAuth = localStorage.getItem('isAuth') === 'true'
    this.userName = localStorage.getItem('userName')
  },

  watch: {
    '$route' (to, from) {
      console.log('router is changed')
      this.currentRouteName = this.$route.name
      this.isAuth = localStorage.getItem('isAuth') === 'true'
    }
  },

  computed: {
    AppToWeb () {
      if (this.$route.matched[0].props.default) {
        return this.$route.matched[0].props.default.App
      } else return false
    },
    ...mapGetters(['getBaseColor', 'getCompanyData'])
  }
}
</script>
